
h1 {
	position: absolute;
	top: 50px;
	left: 50px;
}
.number-list {
	width: 650px;
	margin: 0 auto;
	padding-top: 80px;
}
/* style the appended spans to make them readable-----*/
.pingponger, .pinger, .ponger, .num {
	padding-right: 5px;
	padding-left: 5px;
}
.pingponger {
	color: blue;
	font-size: 2em;
}
.pinger {
	color: green;
	font-size: 1.4em;
}

.ponger {
	color: brown;
	font-size: 1.6em;
}
.num {
	color: red;
	font-size: 0.8em;
}
.span {
	padding-right: 5px;
	padding-left: 5px;
}